/* You can add global styles to this file, and also import other style files */
.red {
  color: red;
  fill: red;
}
.green {
  color: green;
  fill: green;
}
td {
  border-width: 1px;
}
th {
  background-color: black;
  color: white;
  border-color: red;
  border-width: 1px;
}
